
.icon-guidedog:before { content: '\e800'; } /* '' */
.icon-videocam:before { content: '\e801'; } /* '' */
.icon-video:before { content: '\e802'; } /* '' */
.icon-picture:before { content: '\e803'; } /* '' */
.icon-camera:before { content: '\e804'; } /* '' */
.icon-camera-alt:before { content: '\e805'; } /* '' */
.icon-th-large:before { content: '\e806'; } /* '' */
.icon-th-list:before { content: '\e807'; } /* '' */
.icon-ok:before { content: '\e808'; } /* '' */
.icon-ok-circled:before { content: '\e809'; } /* '' */
.icon-ok-circled2:before { content: '\e80a'; } /* '' */
.icon-cancel-circled:before { content: '\e80b'; } /* '' */
.icon-cancel:before { content: '\e80c'; } /* '' */
.icon-home:before { content: '\e80d'; } /* '' */
.icon-lock:before { content: '\e80e'; } /* '' */
.icon-lock-open:before { content: '\e80f'; } /* '' */
.icon-pin:before { content: '\e810'; } /* '' */
.icon-eye-off:before { content: '\e811'; } /* '' */
.icon-eye:before { content: '\e812'; } /* '' */
.icon-flag:before { content: '\e813'; } /* '' */
.icon-thumbs-up:before { content: '\e814'; } /* '' */
.icon-thumbs-down:before { content: '\e815'; } /* '' */
.icon-download:before { content: '\e816'; } /* '' */
.icon-upload:before { content: '\e817'; } /* '' */
.icon-location:before { content: '\e818'; } /* '' */
.icon-cog:before { content: '\e819'; } /* '' */
.icon-cog-alt:before { content: '\e81a'; } /* '' */
.icon-calendar:before { content: '\e81b'; } /* '' */
.icon-volume-up:before { content: '\e81c'; } /* '' */
.icon-volume-down:before { content: '\e81d'; } /* '' */
.icon-volume-off:before { content: '\e81e'; } /* '' */
.icon-zoom-in:before { content: '\e81f'; } /* '' */
.icon-zoom-out:before { content: '\e820'; } /* '' */
.icon-lamp:before { content: '\e821'; } /* '' */
.icon-folder:before { content: '\e822'; } /* '' */
.icon-chat:before { content: '\e823'; } /* '' */
.icon-bell:before { content: '\e824'; } /* '' */
.icon-flag-1:before { content: '\e825'; } /* '' */
.icon-thumbs-up-1:before { content: '\e826'; } /* '' */
.icon-thumbs-down-1:before { content: '\e827'; } /* '' */
.icon-paper-plane:before { content: '\e828'; } /* '' */
.icon-home-outline:before { content: '\e829'; } /* '' */
.icon-home-1:before { content: '\e82a'; } /* '' */
.icon-users:before { content: '\e82b'; } /* '' */
.icon-heart:before { content: '\e82c'; } /* '' */
.icon-heart-filled:before { content: '\e82d'; } /* '' */
.icon-star:before { content: '\e82e'; } /* '' */
.icon-star-filled:before { content: '\e82f'; } /* '' */
.icon-android:before { content: '\e830'; } /* '' */
.icon-youtube:before { content: '\e831'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-twitter-1:before { content: '\e833'; } /* '' */
.icon-vk:before { content: '\e834'; } /* '' */
.icon-github-1:before { content: '\e835'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-firefox:before { content: '\e840'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-crown-plus:before { content: '\e845'; } /* '' */
.icon-crown-minus:before { content: '\e846'; } /* '' */
.icon-th-thumb:before { content: '\f00a'; } /* '' */
.icon-th-thumb-empty:before { content: '\f00b'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-pinterest-squared:before { content: '\f0d3'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-flag-empty:before { content: '\f11d'; } /* '' */
.icon-mic:before { content: '\f130'; } /* '' */
.icon-mute:before { content: '\f131'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-linux:before { content: '\f17c'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-vimeo-squared:before { content: '\f194'; } /* '' */
.icon-reddit:before { content: '\f1a1'; } /* '' */
.icon-drupal:before { content: '\f1a9'; } /* '' */
.icon-vine:before { content: '\f1ca'; } /* '' */
.icon-jsfiddle:before { content: '\f1cc'; } /* '' */
.icon-qq:before { content: '\f1d6'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-firefox-1:before { content: '\f269'; } /* '' */
.icon-gitlab:before { content: '\f296'; } /* '' */
.icon-snapchat-ghost:before { content: '\f2ac'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-skype:before { content: '\f30b'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-vimeo-rect:before { content: '\f30e'; } /* '' */
.icon-blogger-rect:before { content: '\f315'; } /* '' */
.icon-linkedin-rect:before { content: '\f31b'; } /* '' */
.icon-wordpress:before { content: '\f31d'; } /* '' */
.icon-camera-1:before { content: '\f4f7'; } /* '' */